.ui.card.cv{
    height:max-content;
    align-self: flex-end;
}
.ui.fluid.card.candidate-cv{
    margin-top: 1.5em;
    padding: 3em;
}
.ui.red.card{
    width: 10rem;
}
.ui.cards.candidate{
    margin-top: 0.8em;
    width: 98%;
}
.ui.cards.company{
    margin-top: 0.8em;
    width: 98%;
}

.ui.menu:not(.vertical) .item {
    padding: 0.45em;
}
.profil{
    margin: auto;
    padding-top: 0.3em;
    width: 5em;
}
.sidebar{
    height: auto;
}
.text-user{
    text-align: center;
}

/* Candidate Form*/
.container-form {
    width: 80%;
    margin: 70px auto;
    display: flex;
    border-radius: 10px;
    
    
}
.input-feedback {
    color: red;
    margin-top: 0.02rem;
    font-size: 12px;
    text-align:right
  }
.brand-box{
    flex: 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
}
.magic-form {
    flex: 1 50%;
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    font-size: 23px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*.....*/  

/*Job Post Formu*/
.container-form2 {
    margin: auto;
    display: flex;
    border-radius: 10px;
    text:white;
}
.ui.form .field>label{
    color:white;
}
.ui.checkbox label, .ui.checkbox+label {
    color: white;
}
.ilan{
    text-align: center;
    margin-bottom: 0.5em;
}

.ui.vertical.menu{
    margin-top: 1.5em;
    height: 18rem;
    width: 18rem;
}
.ui.header:last-child{
    margin: auto;
    display: flex;
    margin-top: 0.3em;
}
/*Login buton*/

button.ui.large.fluid.button.login-button{
    background-color: navy;
    color: white;
}

/*Başvur butonu*/
button.ui.button.login-button{
    background-color: navy;
    color: white;
}
/*favori butonu*/
button.ui.button.favorite-button{
    background-color:#42a3ce;
    color: white;
}
/*favorite redux navi*/
.ui.menu .item>.label{
    background-color: navy;
    color: white;
}
i.heart.icon.f-navi {
    color: navy;
}

/*Navi*/
button.ui.big.button {
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.style-out{
    display: contents;
}


/* .div.center.aligned.header.textbaslik{
    height: max-content;
    text-align:center; 
    font-size:xx-large;

} */

/* sp */
img.ui.image.sp {
    display: block;
    margin: auto;
}
button.ui.button.sp {
    width: 50%;
    /* margin-right: auto; */
    display: block;
    margin: auto;
    margin-top: 5em;
}


/* FOOTER */

.footer{
    color:black;
}